body, #appbar, #hdtb-msb, #hdtb, .sfbgx, .htbna .notl, .sfbg .nojsv, #fbar, .fbar, #hdtbSum, .sfbg, .nojsv, .sfbgg {
	background: #474747 !important;
	color: #0099ff !important;
}

a:link, .w, #prs a:visited, #prs a:active, .q:active, .q:visited, .kl:active, .tbotu {
	color: #19B5C2 !important;
}

.a, cite, cite a:link, cite a:visited, .cite, .cite:link, #nygTcd>i, .bc a:link {
	color: #C95CD9 !important;
}

.mn-dwn-arw, .action-menu, section, g-section-with-header {
	display: none !important;
}

input, #sb_ifc0, #gs_st0, #sfdiv,.sbsb_a, .sbsb_b {
	background: black !important;
	color: #0099ff !important;
}

div#lga {
	opacity: 0.5;
}

b {
	color: #C6A662 !important;
}

span, em {
	color: #6AC662 !important;
}

g-scrolling-carousel, g-inner-card {
	background: black !important;
	border: beige 1px;
}

a:visited {
	color: #1564AD !important;
}